
.maple{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    
    
}

.maple img{
    border: 10px solid #f9dede;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: 305px; 
    height: auto;
    


}

 body{
    background-color: #e1f3f8;
    text-align: center;
    color: #212121;
    font-family: 'Lora', sans-serif;
    letter-spacing: 1px;
    

 } 
 .mixbutton{
  display:inline-block;
  border-radius:20px;
  padding:10px 20px;
  border: 2px solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  text-decoration:none;
  color:#212121;
  text-align:center;
  font-size: medium;
  margin:15px

 }
 .mixbutton:hover{
  background: white;

 }
 .infodiv{
  display: grid;
  grid-template-columns: 450px; 
  justify-content: center;
  row-gap: 10px;
  
 
  
}
 



.catpic{
    border: dotted #b7ddc5 2px;
    margin: 10px;
    text-align: center;
    background-color: #f9dede;
    height: 100%;

    
} 

a.skip-to-content-link{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip-to-content-link:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}



.catpic h2{
  font-size: 30px;
  font-weight: 600;
  color: black;
  text-shadow: 0px 0px 5px #d2f6fd, 0px 0px 10px #93bed3, 0px 0px 10px #93d3cc, 0px 0px 20px #93d3cc;
  margin:5px;
}



.catcover{
  display: none;
}



.nav {
    display: flex;
    justify-content:center;
    width: 100;
    
  }
.nav li {
    list-style: none;
  
  }
  .nav a {
    color: black;
   text-decoration: none;
   letter-spacing: 3px;
   font-weight: bold;
   font-size: 14px;
   padding: 14px 16px;
  
  }
  .nav a:hover:not(.active) {
    background-color: #f9dede;
  
  }
  .nav li a.active {
    background-color: #ffffff;
    font-style:oblique;
    text-transform: uppercase;
    letter-spacing: 2px;
    

}
body, html{
    height: 100%;
    margin: 0px;
  }
  
  img .bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1{
  
    text-align: center;
    top: 20px;
   width: 100%;
   min-height: 30px;
   display: inline-block;
   font-size: 35px;
   margin: 20px;

    
    

  } 

  p{
    margin: 20px; 

   

}
footer{
  background-color: #e1f3f8;
  color:#212121;
 
}




/* Tablet view */
@media screen and (min-width:768px) {

  .nav{
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  .nav li a.active {
    background-color: #ffffff;
    font-style:oblique;
    text-transform: uppercase;
    letter-spacing: 8px;
    display: block;
}
.nav a:hover:not(.active) {
  background-color: #f9dede;
  display: inline-block;

}
   
/* .maple img:nth-child(-n+3){
  display:none;
} */
.infodiv{
  display: grid;
  grid-template-columns: 450px 450px;
}

  
   
 
  

/* Desktop view */
@media screen and (min-width:1025px) {
  .nav{
    display: flex;
    float: right;
    margin: 0px;
  }

  

/* .maple img:nth-child(-n+3){
  display: block;
} */



} 
.catcover{
  display: block;
}

.infodiv{
  grid-template-columns: 30% 30% 30%;
}


}






