.maple{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  
  
  
}

.maple img{
  border: 10px solid whitesmoke;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  width: 305px; 
  height: auto;
  border:solid 5px rgb(0, 0, 0);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
  
.bx{
  margin: 1em auto; padding: 1em 2em;
  border: solid 1px #808080; 
  display: inline-block; 
  position: relative; 
  font-size: 18px;  
  max-width: 400px;
}


.quote{
  max-width: 220px;
  border-radius: 40%;
  border: solid 4px rgba(12,58,168,1.0);
}
.quote::before,
.quote::after {
  content: "";
  position: absolute;
  background: white;;
  border-radius: 50%;
}.quote::before {
  bottom: -18px; left: 70%;
  height: 20px; width: 20px; 
  border: solid 4px rgba(12,58,168,0.8);
}
.quote::after {
  bottom: -28px; left: 74%;
  height: 12px; width: 12px; 
  border: solid 4px rgba(12,58,168,0.6);
}



body{
  background-color: #e1f3f8;
  text-align: center;
  color: #212121;
  font-family: 'Lora', sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  

} 
.mixbutton{
display:inline-block;
border-radius:20px;
padding:10px 20px;
border: 2px solid #FFFFFF;
margin:0 0.3em 0.3em 0;
text-decoration:none;
color:#212121;
text-align:center;
font-size: medium;
margin:15px

}
.mixbutton:hover{
background: white;

}
.infodiv{
display: grid;
grid-template-columns: 450px; 
justify-content: center;
row-gap: 10px;





}




.catpic{
  /* border: ridge #f9dede 5px; */
  margin: 10px;
  text-align: center;
  background-color: whitesmoke;
  height: 100%;
  border:solid 5px rgb(203, 158, 158);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

  
} 

a.skip-to-content-link{
background: white;
left: 0;
padding: 6px;
position: absolute;
top: -40px;
-webkit-transition: top 1s ease-out;
transition: top 1s ease-out;
z-index: 1;
}

a.skip-to-content-link:focus{
top:20px;
color: black;
text-decoration-style: solid;
}



.catpic h2{
font-size: 30px;
font-weight: 600;
color: black;
text-shadow: 0px 0px 5px #d2f6fd, 0px 0px 10px #93bed3, 0px 0px 10px #93d3cc, 0px 0px 20px #93d3cc;
margin:5px;
}



.catcover{
display: none;
}



.nav {
  display: flex;
  justify-content:center;
  width: 100;
  position: relative;
  top: 22px;
  
}
.nav li {
  list-style: none;

}
.nav a {
  color: black;
 text-decoration: none;
 letter-spacing: 3px;
 font-weight: bold;
 font-size: 14px;
 padding: 14px 16px;

}
.nav a:hover:not(.active) {
  background-color: #f9dede;

}
.nav li a.active {
  background-color: #ffffff;
  font-style:oblique;
  text-transform: uppercase;
  letter-spacing: 2px;
  

}


/* img .bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

h1{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  top: 20px;
  width: 100%;
  min-height: 30px;
  display: inline-block;
  font-size: 50px;
  margin: 38px;
  font-weight: bold;
 

  
  

} 
.home{
  background:#FFFFFF;
  border: black solid 5px;
  border-radius: 15px;
  /* padding: 20px 15px; */

  
}

p{
  margin: 20px; 

 

}
footer{
background-color: #e1f3f8;
color:#212121;
margin:8px;
}

.maple img:nth-child(-n+3){
display:none;
} 
.quote{
  display: none;
}


/* Tablet view */
@media screen and (min-width:768px) {

.nav{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav li a.active {
  background-color: #ffffff;
  font-style:oblique;
  text-transform: uppercase;
  letter-spacing: 8px;
  display: block;
}
.nav a:hover:not(.active) {
background-color: #f9dede;
display: inline-block;

}
.quote{
  display: inline-block;
}

 
/* .maple img:nth-child(-n+3){
display:none;
} */
.infodiv{
display: grid;
grid-template-columns: 450px 450px 450px;
margin:25px
}


 



/* Desktop view */
@media screen and (min-width:1025px) {
.nav{
  display: flex;
  float: right;
  margin: 0px;
}



.maple img:nth-child(-n+3){
display: block;
} 



} 
.catcover{
 display: block;
  width: 60%;
  margin: auto;
  display: block;
}
}

.infodiv > div{
  display: grid;
grid-template-columns: auto auto auto;
}















